.divLine {
    margin-top: 17px;
    height: 1px;
    background-color: #ff92ae;
}


.container {
    padding-top: 13px;
}

.containerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liContainer {
    max-width: 520px;
    margin: 0 auto;
    padding-top: 17px;
}

.liContainer:last-child .divLine {
    display: none;
}

.spanText {
    text-decoration: line-through;
    color: #25252580;
    font-weight: 900;
    font-size: 20px;
}

.spanTextNone {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

.customСheckbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.customСheckbox input {
    display: none;
}

.checkmark {
    width: 26px;
    height: 26px;
    border: 2px solid #ff92ae;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.customСheckbox input:checked+.checkmark {
    background-color: #ff92ae;
    border-color: #ff92aeF;
}

.customСheckbox input:checked+.checkmark::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 4px;
    width: 7px;
    height: 13.65px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.btnEdit {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background-color: inherit;
    border: none;
    background-image: url("./images/Frame 6.svg");
    background-size: cover;
    cursor: pointer;
}

.btnEdit:hover {
    background-image: url("./images/Vector.svg");
}

.btnDel {
    width: 18px;
    height: 18px;
    background-color: inherit;
    border: none;
    background-image: url("./images/trash-svgrepo-com.svg");
    background-size: cover;
    cursor: pointer;
}

.btnDel:hover {
    background-image: url("./images/redTrash.svg");
}